.btns{
    background-color: rgb(30, 81, 107);
    color: aliceblue;
    border-color: aliceblue;
    border: none;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
}


.height{
    max-height: 10em;
}
