.btns{
    background-color: rgb(30, 81, 107);
    color: aliceblue;
    border-color: aliceblue;
    border: none;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
}

.form{
    background-color: #8cbcd0 ;
    padding: 1.2em;
}