@font-face {
    font-family: Blossoms;
    src: local("BunchBlossomsPersonalUse-0nA4"), url('./fonts/BunchBlossomsPersonalUse-0nA4.ttf') format('truetype');
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.blossom{
    font-family: Blossoms;
}

.boarder{
    border: 3.5px solid;
    border-color: aliceblue;
    margin: 1em;
    padding: 1em;
}

.wt{
    color: aliceblue;
}

.screen-height{
    height: 80vh;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
    }

.full{
    height: 100vh;
}

li {
    list-style: none;
    width :95%;
}
.logo{
    max-width: 45%;
    height: auto;
}

.align-center{
    align-items: center;
}

.bg{
    background-color: #8cbcd0;
}

.bb{

    background-color: rgb(30, 81, 107);
}

.background{
    
    background-color: rgb(30, 81, 107);
    background-size: 25%;
    position: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 20em;    
}


.form-control{
    border: 3.5px solid;
    border-color: aliceblue;
    background-color: #8cbcd0;
}

